* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #14d14d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card{
      background: rgb(213, 203, 170);
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  width: 380px;
  text-align: center;
}


label{

      display: block;
  margin: 15px 0 5px;
  font-weight: bold;
}

input[type="number"]{
    width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input[type="radio"]{
     margin-right: 8px;
}


.operaciones {
  text-align: left;
  margin: 20px 0;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#resultado {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}